
<h1 class="center"> Liste de pokémons</h1>
<div class="container ">
    <div class="row">
        <div *ngFor="let pokemon of pokemonList;" class="col m6 s6 l6">
            <div class="card horizontal blue-grey lighten-4" (click)="selectPokemon(pokemon)" pkmnBorderCard> 
                <div class="card-image">
                    <img [src]="pokemon.picture" [alt]="pokemon.name"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>{{ pokemon.name }}</h5>
                        <p>{{ pokemon.created }}</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
